<div class="link">
  <p>
    <%= f.label :url, t("link_url") %> <span class="required">*</span><br />
    <%= f.text_field :url  %>  
  </p>
  <p>
    <%= f.label :title, t("link_title") %> <span class="required">*</span><br />
    <%= f.text_field :title  %>  
  </p>
  <p>
    <%= f.label :description, t("link_description") %><br />
    <%= f.text_area :description, :cols => 60, :rows => 2, :class => 'fullwidth', :style => 'height: 4em' %>  
  </p>
  <%= remove_nested f %>
</div>
