<% content_for :head do %>
  <%= javascript_include_tag 'admin/jquery.scrollTo-min' %>
  <%= stylesheet_link_tag 'admin/spree_links' %>
<% end %>
<%= form_for([:admin, @link_category]) do |f| %>
  <%= render "spree/shared/error_messages", :target => f.object %>
  <%= javascript_tag do %>
     var new_link_html = '<%= generate_template(f, :links) %>';

     jQuery(document).ready(function($) {
        $('#new_link').click(function() {
          $('#links').append(new_link_html.replace(/NEW_RECORD/g, $('#links .link').size()));
          $('#links .link:last .remove').click(function() {
            $(this).parent('.link').remove();
          });
          $.scrollTo(jQuery('#links .link:last'), 800);
          $('.link:last input:first').focus();
        });
        $('#links .remove').click(function() { 
          $(this).parent('.link').children(':hidden[id$=delete]').val(1);
          $(this).parent('.link').slideUp('slow');
        });
     });
  <% end %>
  <div class="yui-gc">
    <div class="yui-u first">

      <%= f.field_container :name do %>
          <%= f.label :name, t("category_name") %> <span class="required">*</span><br />
          <%= f.text_field :name, :class => 'fullwidth title'  %>  
          <%= f.error_message_on :name %>
      <% end %>
      
      <%= f.field_container :locale do %>
          <%= f.label :locale, t("region") %><br />
          <%= f.select :locale, I18n.available_locales.map { |l| [t(l), l] } %>  
          <%= f.error_message_on :locale %>
      <% end %>

      <div id="links">
        <h2>Links</h2>
        <%= link_to_with_icon 'add', t('add_link'), '#', :id => 'new_link' %>

        <%= f.fields_for :links do |link_form| %>
          <%= render :partial => 'link', :locals => {:f => link_form } %>
        <% end %>
      </div>

      <%= render :partial => 'spree/admin/shared/edit_resource_links' %>
    </div>
  </div>
                                      
<% end %>
